{% extends "leadsDatabase/base.html" %}

{% block mainContainer %}

    {% if leads %}
        <table class="leadsTable">
            <tr>
                <th class="leadTableHeaders">Name</th>
                <th class="leadTableHeaders">Email adress</th>
            </tr>
            {% for lead in leads %}
                <tr>
                    <td class="leadTableEntries">{{ lead.name_text }}</td>
                    <td class="leadTableEntries">{{ lead.email_text }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="leadsTable">No leads are available.</p>
    {% endif %}

    {% include 'leadsDatabase/inputButtons.html' %}

{% endblock %}